Package: siakhooi-semvery
Version: 0.8.0
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: default-jre-headless|openjdk-17-jre-headless|openjdk-18-jre-headless|openjdk-19-jre-headless
Architecture: amd64
Homepage: <https://github.com/siakhooi/javacli-semvery>
Description: semver utilities
