name: Build Deb

on: workflow_call

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: target
          path: ./target/

      - run: sudo apt install pandoc
      - run: ./scripts/build-deb.sh

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: deb-deliverables
          path: |
            ./*.deb
            ./*.deb.*sum
            ./target/*.jar
