name: Build Deb

on: workflow_call

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v6
        with:
          name: target
          path: ./target/
      - run: sudo apt install pandoc
      - run: ./scripts/build-deb.sh
      - uses: actions/upload-artifact@v5
        with:
          name: deb-deliverables
          path: |
            ./*.deb
            ./*.deb.*sum
            ./target/*.jar
