name: Build Rpm File

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-latest
    container: fedora:latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v6
        with:
          name: target
          path: ./target/
      - run: sudo dnf install -y rpmdevtools rpmlint pandoc tree
      - run: ./scripts/build-rpms.sh
      - uses: actions/upload-artifact@v4
        with:
          name: rpm-deliverables
          path: |
            ./*.rpm
            ./*.rpm.*sum
      - uses: actions/upload-artifact@v4
        with:
          name: rpm-working-files
          path: ~/rpmbuild/
