name: Publish to siakhooi.github.io/apt

on:
  workflow_call:
    secrets:
      PUBLISH_TO_GITHUB_REPO_TOKEN:
        required: true

jobs:
  publish_apt:
    name: publish to apt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: deb-deliverables
          path: ./

      - run: ./.github/bin/deploy-to-siakhooi-apt.sh
        env:
          PUBLISH_TO_GITHUB_REPO_TOKEN: ${{ secrets.PUBLISH_TO_GITHUB_REPO_TOKEN }}
